body {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;

    background:
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e9e2c9 68% 70%,#0000 72%) 20px 20px/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e9e2c9 68% 70%,#0000 72%) 20px 20px/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 100% 25%,#0000 66%,#e9e2c9 68% 70%,#0000 72%) 0 0/calc(2*20px) calc(2*20px),
      radial-gradient(35.36% 35.36% at 0    75%,#0000 66%,#e9e2c9 68% 70%,#0000 72%) 0 0/calc(2*20px) calc(2*20px),
      repeating-conic-gradient(#f1efe8 0 25%,#0000 0 50%) 0 0/calc(2*20px) calc(2*20px),
      radial-gradient(#0000 66%,#e9e2c9 68% 70%,#0000 72%) 0 calc(20px/2)/20px 20px
      #f1efe8;
}

.slides {
    margin-top: 20px;
    height: 200px;
}

.slide {
    visibility: hidden;
    height: 0px;
    display: flex;
    flex-direction: column;
}

.active {
    visibility: visible;
    height: auto;
}

.dir {
    height: 60px;
}

.dir-button {
    margin: 0px 60px;
    border: solid;
    border-color: #f1efe8;
    color: #f1efe8;
}

.hotel-name{
    font-size: 20px;
    font-weight: 600;
}

.carousel-button {
    background-color: initial;
    border: initial;
    box-shadow: initial;
    width: 20px;
    margin: 0 15px;
}